{% extends 'base2.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_head %}

<link rel="canonical" href="https://razid.in/">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<script src="{% static 'js/myscript.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "mainEntity": {
    "@type": "CreativeWork",
    "name": "Keyphrases",
    "about": [
      {
        "@type": "Thing",
        "name": "Keyword 1"
      },
      {
        "@type": "Thing",
        "name": "Keyword 2"
      },
      {
        "@type": "Thing",
        "name": "Keyword 3"
      }
      // Add more keyphrases as needed
    ]
  }
}
</script>




<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "Online Printing Services in India | RAZID Solutions",
    "url": "https://razid.in/",
    "logo": "https://razid.in/assets/images/logo/logo.png",
    "sameAs": [
      "https://www.facebook.com/Razidsolutions/",
      "https://twitter.com/RazidSolutions",
      "https://www.youtube.com/channel/UC5kLK0tYkJnZWq6AWyqD3Ow/",
	  "https://www.instagram.com/razidsolutions/",
	  "https://in.pinterest.com/RazidSolutions/"
    ],
    "contactPoint": [
      {
        "@type": "ContactPoint",
        "telephone": "+91-9447-574-488",
        "contactType": "Customer Service",
        "contactOption": "TollFree",
        "areaServed": "IN"
      },
      {
        "@type": "ContactPoint",
        "telephone": "+91-9447-574-488",
        "contactType": "Technical Support",
        "contactOption": "TollFree",
        "areaServed": "IN"
      },
      {
        "@type": "ContactPoint",
        "telephone": "+91-9447-574-488",
        "contactType": "Sales",
        "contactOption": "TollFree",
        "areaServed": "IN"
      }
    ]
  }
  </script>


 

    
    
    

    <!-- site Favicon -->
    <link rel="icon" href="{% static 'images/favicon/favicon.png' %}" sizes="32x32" />
    <link rel="apple-touch-icon" href="{% static 'images/favicon/favicon.png' %}" />
    <meta name="msapplication-TileImage" content="{% static 'images/favicon/favicon.png' %}" />

    <!-- css Icon Font -->
    <link rel="stylesheet" href="{% static 'css/vendor/ecicons.min.css' %}" />

    <!-- css All Plugins Files -->
    <link rel="stylesheet" href="{% static 'css/plugins/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/countdownTimer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/slick.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/bootstrap.css' %}" />

    <!-- Main Style -->
    <link rel="stylesheet" href="{% static 'css/demo1.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    
    
    
      <link rel="stylesheet" href="{% static 'css/plugins/owl.carousel.min.css' %}" />
   <link rel="stylesheet" href="{% static 'css/plugins/owl.theme.default.min.css' %}" />
   

    <!-- Background css -->


{% endblock %}



    
{% block main-content %}


     <!-- ekka Cart Start -->
     <div class="ec-side-cart-overlay"></div>
     <div id="ec-side-cart" class="ec-side-cart">
         <div class="ec-cart-inner">
             <div class="ec-cart-top">
                 <div class="ec-cart-title">
                     <span class="cart_title">My Cart</span>
                     <button class="ec-close">×</button>
                 </div>
                 <ul class="eccart-pro-items">
                     <li>
                         <a href="product-left-sidebar.html" class="sidekka_pro_img"><img
                                 src="assets/images/product-image/6_1.jpg" alt="product"></a>
                         <div class="ec-pro-content">
                             <a href="product-left-sidebar.html" class="cart_pro_title">T-shirt For Women</a>
                             <span class="cart-price"><span>$76.00</span> x 1</span>
                             <div class="qty-plus-minus">
                                 <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                             </div>
                             <a href="javascript:void(0)" class="remove">×</a>
                         </div>
                     </li>
                     <li>
                         <a href="product-left-sidebar.html" class="sidekka_pro_img"><img
                                 src="assets/images/product-image/12_1.jpg" alt="product"></a>
                         <div class="ec-pro-content">
                             <a href="product-left-sidebar.html" class="cart_pro_title">Women Leather Shoes</a>
                             <span class="cart-price"><span>$64.00</span> x 1</span>
                             <div class="qty-plus-minus">
                                 <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                             </div>
                             <a href="javascript:void(0)" class="remove">×</a>
                         </div>
                     </li>
                     <li>
                         <a href="product-left-sidebar.html" class="sidekka_pro_img"><img
                                 src="assets/images/product-image/3_1.jpg" alt="product"></a>
                         <div class="ec-pro-content">
                             <a href="product-left-sidebar.html" class="cart_pro_title">Girls Nylon Purse</a>
                             <span class="cart-price"><span>$59.00</span> x 1</span>
                             <div class="qty-plus-minus">
                                 <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                             </div>
                             <a href="javascript:void(0)" class="remove">×</a>
                         </div>
                     </li>
                 </ul>
             </div>
             <div class="ec-cart-bottom">
                 <div class="cart-sub-total">
                     <table class="table cart-table">
                         <tbody>
                             <tr>
                                 <td class="text-left">Sub-Total :</td>
                                 <td class="text-right">$300.00</td>
                             </tr>
                             <tr>
                                 <td class="text-left">VAT (20%) :</td>
                                 <td class="text-right">$60.00</td>
                             </tr>
                             <tr>
                                 <td class="text-left">Total :</td>
                                 <td class="text-right primary-color">$360.00</td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
                 <div class="cart_btn">
                     <a href="{% url 'showcart' %}" class="btn btn-primary">View Cart</a>
                     <a href="checkout.html" class="btn btn-secondary">Checkout</a>
                 </div>
             </div>
         </div>
     </div>
     <!-- ekka Cart End -->
 
     <!-- Ec breadcrumb start -->
     <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
         <div class="container">
             <div class="row">
                 <div class="col-12">
                     <div class="row ec_breadcrumb_inner">
                         <div class="col-md-6 col-sm-12">
                             <h2 class="ec-breadcrumb-title">Cart</h2>
                         </div>
                         <div class="col-md-6 col-sm-12">
                             <!-- ec-breadcrumb-list start -->
                             <ul class="ec-breadcrumb-list">
                                 <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                                 <li class="ec-breadcrumb-item active">Cart</li>
                             </ul>
                             <!-- ec-breadcrumb-list end -->
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- Ec breadcrumb end -->
 
     <!-- Ec cart page -->
     <!-- <section class="ec-page-content section-space-p">
         <div class="container" >
             <div class="row">
                {% if cart %}
                 <div class="ec-cart-leftside col-lg-8 col-md-12 ">
                      cart content Start
                     <div class="ec-cart-content">
                         <div class="ec-cart-inner">
                             <div class="row">
                                 <form action="#">
                                     <div class="table-content cart-table-content">
                                         <table>
                                             <thead>
                                                 <tr>
                                                     <th>Product</th>
                                                     <th>Price</th>
                                                     <th style="text-align: center;">Quantity</th>
                                                     <th>Total</th>
                                                     <th></th>
                                                 </tr>
                                             </thead>
                                             <tbody>
                                                {% for item in cart %}
                                                 <tr>
                                                     <td data-label="Product" class="ec-cart-pro-name"><a
                                                             href="product-left-sidebar.html"><img
                                                                 class="ec-cart-pro-img mr-4"
                                                                 src="{{item.product.product_image.url}}" alt="" />
                                                                {{item.product.title}}</a></td>
                                                     <td data-label="Price" class="ec-cart-pro-price"><span
                                                             class="amount">${{item.product.price}}</span></td>
                                                     <td data-label="Quantity" class="ec-cart-pro-qty"
                                                         style="text-align: center;">
                                                         <div class="my-3">
                                                            <label for="quantity"></label>
                                                            <a class="minus-cart btn" pid={{item.product.id}}><i class="fas fa-minus-square fa-lg"></i></a>
                                                              <span id="quantity">{{item.quantity}}</span>
                                                            <a class="plus-cart btn" pid={{item.product.id}}><i class="fas fa-plus-square fa-lg"></i></a>
                                                          </div>
                                                     </td>
                                                     <td data-label="Total" class="e c-cart-pro-subtotal" id="amount">${{amount}}</td>
                                                     <td data-label="Remove" class="ec-cart-pro-remove">
                                                        <a href="#" class="remove-cart btn  mr-3" pid={{item.product.id}}><i class="ecicon eci-trash-o"></i></a>
                                                     </td>
                                                 </tr>
                                                 {% endfor %}
                                                 
                                             </tbody>
                                         </table>
                                     </div>
                                     <div class="row">
                                         <div class="col-lg-12">
                                             <div class="ec-cart-update-bottom">
                                                 <a href="#">Continue Shopping</a>
                                                 <button class="btn btn-primary">Check Out</button>
                                             </div>
                                         </div>
                                     </div>
                                 </form>
                             </div>
                         </div>
                     </div>
                     cart content End 
                 </div>
                  Sidebar Area Start 
                 <div class="ec-cart-rightside col-lg-4 col-md-12">
                     <div class="ec-sidebar-wrap">
                          Sidebar Summary Block 
                         <div class="ec-sidebar-block">
                             <div class="ec-sb-title">
                                 <h3 class="ec-sidebar-title">Summary</h3>
                             </div>
                             <div class="ec-sb-block-content">
                                 <h4 class="ec-ship-title">Estimate Shipping</h4>
                                 <div class="ec-cart-form">
                                     <p>Enter your destination to get a shipping estimate</p>
                                     <form action="#" method="post">
                                         <span class="ec-cart-wrap">
                                             <label>Country *</label>
                                             <span class="ec-cart-select-inner">
                                                 <select name="ec_cart_country" id="ec-cart-select-country"
                                                     class="ec-cart-select">
                                                     <option selected="" disabled="">United States</option>
                                                     <option value="1">Country 1</option>
                                                     <option value="2">Country 2</option>
                                                     <option value="3">Country 3</option>
                                                     <option value="4">Country 4</option>
                                                     <option value="5">Country 5</option>
                                                 </select>
                                             </span>
                                         </span>
                                         <span class="ec-cart-wrap">
                                             <label>State/Province</label>
                                             <span class="ec-cart-select-inner">
                                                 <select name="ec_cart_state" id="ec-cart-select-state"
                                                     class="ec-cart-select">
                                                     <option selected="" disabled="">Please Select a region, state
                                                     </option>
                                                     <option value="1">Region/State 1</option>
                                                     <option value="2">Region/State 2</option>
                                                     <option value="3">Region/State 3</option>
                                                     <option value="4">Region/State 4</option>
                                                     <option value="5">Region/State 5</option>
                                                 </select>
                                             </span>
                                         </span>
                                         <span class="ec-cart-wrap">
                                             <label>Zip/Postal Code</label>
                                             <input type="text" name="postalcode" placeholder="Zip/Postal Code">
                                         </span>
                                     </form>
                                 </div>
                             </div>
 
                             <div class="ec-sb-block-content">
                                 <div class="ec-cart-summary-bottom">
                                     <div class="ec-cart-summary">
                                         <div>
                                             <span class="text-left">Sub-Total</span>
                                             <span class="text-right" id="amount">${{amount}}</span>
                                         </div>
                                         <div>
                                             <span class="text-left">Delivery Charges</span>
                                             <span class="text-right">$40.00</span>
                                         </div>
                                         <div>
                                             <span class="text-left">Coupan Discount</span>
                                             <span class="text-right"><a class="ec-cart-coupan">Apply Coupan</a></span>
                                         </div>
                                         <div class="ec-cart-coupan-content">
                                             <form class="ec-cart-coupan-form" name="ec-cart-coupan-form" method="post"
                                                 action="#">
                                                 <input class="ec-coupan" type="text" required=""
                                                     placeholder="Enter Your Coupan Code" name="ec-coupan" value="">
                                                 <button class="ec-coupan-btn button btn-primary" type="submit"
                                                     name="subscribe" value="">Apply</button>
                                             </form>
                                         </div>
                                         <div class="ec-cart-summary-total">
                                             <span class="text-left">Total Amount</span>
                                             <span class="text-right" id="totalamount">${{totalamount}}</span>
                                         </div>
                                     </div>
 
                                 </div>
                             </div>
                         </div>
                      Sidebar Summary Block 
                     </div>
                 </div>
                {% else %}    
                   <h1 id="empty-cart-message" class="text-center mb-5">Cart is Empty</h1>
                {% endif %}
             </div>
         </div>
     </section> -->

    <!-- cart from kaarlah -->

    <div class="container my-5">


        <div class="row">
            {% if cart %}
              <!-- <h1 class="text-center mb-5">Shopping Cart</h1> -->
              <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        
                        {% for item in cart %}
                           <div class="row">
                             <div class="col-sm-3 text-center align-self-center"><img src="{{item.product.product_image.url}}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm" height="80" width="80"></div>
                              <div class="col-sm-9">
                                <div>
                                  <h5>{{item.product.title}}</h5>
                                  <p class="mb-2 text-muted small">{{item.product.description}}</p>
                                  <div class="my-3">
                                    <label for="quantity">Quantity:</label>
                                    <a class="minus-cart btn" pid={{item.product.id}}><i class="fas fa-minus-square fa-lg"></i></a>
                                      <span id="quantity">{{item.quantity}}</span>
                                    <a class="plus-cart btn" pid="{{item.product.id}}"><i class="fas fa-plus-square fa-lg"></i></a>
                                  </div>
                                  <div class="d-flex justify-content-between">
                                    {% comment %} <a href="#" class="remove-cart btn btn-sm btn-secondary mr-3" pid={{item.product.id}}>Remove item</a> {% endcomment %}
                                    <p class="mb-0"><span><strong>Rs. {{item.product.price}}</strong></span></p>
        
                                  </div>
        
                                  </div>
                                </div>
                              </div>
                              <hr class="text-muted">
                        {% endfor %}      
                           </div>
                    </div>
                </div>
        
        
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h3>The Total Amount of</h3>
                      <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">Amount<span id="amount">Rs. {{amount}}</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">Shipping<span>Rs. 40.00</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                          <div>
                            <strong>Total</strong><small>(including GST)</small>
        
                          </div>
                          <span id="totalamount"><strong>Rs. {{totalamount}}</strong></span>
                        </li>
                      </ul>
                      <div class="d-grid"><a href="{% url 'checkout' %}" class="btn btn-dark">Place order</a></div>
                    </div>
                  </div>
                </div>
                {% else %}    
                    <h1 class="text-center mb-5">Cart is Empty</h1>
            {% endif %}
              </div>
        
        </div>
    <!-- end cart kaarlah -->
 

    <div class="ec-cart-leftside col-lg-8 col-md-12 ">
        <!-- cart content Start -->
        <div class="ec-cart-content">
            <div class="ec-cart-inner">
                {% for item in cart %}
                <div class="row">
                    <form action="#">
                        <div class="table-content cart-table-content">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th style="text-align: center;">Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="Product" class="ec-cart-pro-name"><a
                                                href="product-left-sidebar.html"><img
                                                    class="ec-cart-pro-img mr-4"
                                                    src="{{item.product.product_image.url}}" alt="" />{{item.product.title}}</a></td>
                                        <td data-label="Price" class="ec-cart-pro-price"><span
                                                class="amount">$56.00</span></td>
                                        <td data-label="Quantity" class="ec-cart-pro-qty"
                                            style="text-align: center;">
                                            <div class="cart-qty-plus-minus">
                                                <input class="cart-plus-minus" type="text"
                                                    name="cartqtybutton" value="1" />
                                            </div>
                                        </td>
                                        {% comment %} <td data-label="Total" class="ec-cart-pro-subtotal">$56.00</td> {% endcomment %}
                                        <td data-label="Remove" class="ec-cart-pro-remove">
                                            <a href="#" class="remove-cart" pid={{item.product.id}}><i class="ecicon eci-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-label="Product" class="ec-cart-pro-name"><a
                                                href="product-left-sidebar.html"><img
                                                    class="ec-cart-pro-img mr-4"
                                                    src="assets/images/product-image/2.jpg" alt="" />Unisex
                                                Fully Solid Hoodie</a></td>
                                        <td data-label="Price" class="ec-cart-pro-price"><span
                                                class="amount">$75.00</span></td>
                                        <td data-label="Quantity" class="ec-cart-pro-qty"
                                            style="text-align: center;">
                                            <div class="cart-qty-plus-minus">
                                                <input class="cart-plus-minus" type="text"
                                                    name="cartqtybutton" value="1" />
                                            </div>
                                        </td>
                                        <td data-label="Total" class="ec-cart-pro-subtotal">$75.00</td>
                                        <td data-label="Remove" class="ec-cart-pro-remove">
                                            <a href="#"><i class="ecicon eci-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-label="Product" class="ec-cart-pro-name"><a
                                                href="product-left-sidebar.html"><img
                                                    class="ec-cart-pro-img mr-4"
                                                    src="assets/images/product-image/3.jpg"
                                                    alt="" />Beautiful T-shirt For Women</a></td>
                                        <td data-label="Price" class="ec-cart-pro-price"><span
                                                class="amount">$48.00</span></td>
                                        <td data-label="Quantity" class="ec-cart-pro-qty"
                                            style="text-align: center;">
                                            <div class="cart-qty-plus-minus">
                                                <input class="cart-plus-minus" type="text"
                                                    name="cartqtybutton" value="1" />
                                            </div>
                                        </td>
                                        <td data-label="Total" class="ec-cart-pro-subtotal">$48.00</td>
                                        <td data-label="Remove" class="ec-cart-pro-remove">
                                            <a href="#"><i class="ecicon eci-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-label="Product" class="ec-cart-pro-name"><a
                                                href="product-left-sidebar.html"><img
                                                    class="ec-cart-pro-img mr-4"
                                                    src="assets/images/product-image/4.jpg" alt="" />Wool
                                                Hat For Men</a></td>
                                        <td data-label="Price" class="ec-cart-pro-price"><span
                                                class="amount">$95.00</span></td>
                                        <td data-label="Quantity" class="ec-cart-pro-qty"
                                            style="text-align: center;">
                                            <div class="cart-qty-plus-minus">
                                                <input class="cart-plus-minus" type="text"
                                                    name="cartqtybutton" value="1" />
                                            </div>
                                        </td>
                                        <td data-label="Total" class="ec-cart-pro-subtotal">$95.00</td>
                                        <td data-label="Remove" class="ec-cart-pro-remove">
                                            <a href="#"><i class="ecicon eci-trash-o"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ec-cart-update-bottom">
                                    <a href="#">Continue Shopping</a>
                                    <button class="btn btn-primary">Check Out</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
        <!--cart content End -->
    </div>


    
<!-- New Product Start -->
<section class="section ec-new-product section-space-p" id="arrivals">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">New Arrivals</h2>
                    <h2 class="ec-title">New Arrivals</h2>
                    <p class="sub-title">Browse The Collection of Top Products</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- New Product Content -->
            {% for pro in latest_products %}
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6  ec-product-content" data-animation="flipInY">
                <div class="ec-product-inner">
                    <div class="ec-pro-image-outer">
                        <div class="ec-pro-image">
                            <a href="product-left-sidebar.html" class="image">
                                <img class="main-image" src="{{pro.product_image.url}}" alt="Product" style="height: 400px; width: 318px;"/>
                                <img class="hover-image" src="{{pro.product_image.url}}" alt="Product" style="height: 430px; width: 330px;"/>
                            </a>
                            <span class="flags">
                                <span class="sale">Sale</span>
                            </span>```                  
                            <!-- <a href="#" class="quickview" data-link-action="quickview" title="Quick view"
                                data-bs-toggle="modal" data-bs-target="#ec_quickview_modal"><i
                                    class="fi-rr-eye"></i></a> -->
                            <div class="ec-pro-actions">
                                <!-- <a href="compare.html" class="ec-btn-group compare" title="Compare"><i
                                        class="fi fi-rr-arrows-repeat"></i></a> -->
                                <button title="Add To Cart" class="add-to-cart"><i
                                        class="fi-rr-shopping-basket"></i> Add To Cart</button>
                                <a class="ec-btn-group wishlist" title="Wishlist"><i class="fi-rr-heart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ec-pro-content">
                        <h5 class="ec-pro-title"><a href="product-left-sidebar.html">{{pro.title}}</a>
                        </h5>
                        <div class="ec-pro-rating">
                                                
                            {% if pro.avg_rating == 0 %}
                            <i class="ecicon eci-star-o"></i>
                            <i class="ecicon eci-star-o"></i>
                            <i class="ecicon eci-star-o"></i>
                            <i class="ecicon eci-star-o"></i>
                            <i class="ecicon eci-star-o"></i>
                            
                            {% elif pro.avg_rating == 1 %}
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star-o"></i>
                            <i class="ecicon eci-star-o"></i>
                            <i class="ecicon eci-star-o"></i>
                            <i class="ecicon eci-star-o"></i>
                         {% elif pro.avg_rating == 2 %}                                                            
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star-o"></i>
                            <i class="ecicon eci-star-o"></i>
                            <i class="ecicon eci-star-o"></i>


                         {% elif pro.avg_rating == 3 %}
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>

                         {% elif pro.avg_rating == 4 %}
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>

                         {% elif pro.avg_rating == 5 %}
                         <i class="ecicon eci-star fill"></i>
                         <i class="ecicon eci-star fill"></i>
                         <i class="ecicon eci-star fill"></i>
                         <i class="ecicon eci-star fill"></i>
                         <i class="ecicon eci-star fill"></i>
                         
                         {% endif %}
                        
                    </div>
                        <span class="ec-price">
                            <span class="new-price">${{pro.price}}</span>
                            
                        </span>
                        <!-- <div class="ec-pro-option">
                            <div class="ec-pro-color">
                                <span class="ec-pro-opt-label">Color</span>
                                <ul class="ec-opt-swatch ec-change-img">
                                    <li><a href="#" class="ec-opt-clr-img"
                                            data-src="assets/images/product-image/9_1.jpg"
                                            data-src-hover="assets/images/product-image/9_1.jpg"
                                            data-tooltip="Orange"><span
                                                style="background-color:#74c7ff;"></span></a></li>
                                    <li><a href="#" class="ec-opt-clr-img"
                                            data-src="assets/images/product-image/9_2.jpg"
                                            data-src-hover="assets/images/product-image/9_2.jpg"
                                            data-tooltip="Green"><span style="background-color:#7af6ff;"></span></a>
                                    </li>
                                    <li><a href="#" class="ec-opt-clr-img"
                                            data-src="assets/images/product-image/9_3.jpg"
                                            data-src-hover="assets/images/product-image/9_3.jpg"
                                            data-tooltip="Sky Blue"><span
                                                style="background-color:#85ffeb;"></span></a></li>
                                </ul>
                            </div>
                            <div class="ec-pro-size">
                                <span class="ec-pro-opt-label">Size</span>
                                <ul class="ec-opt-size">
                                    <li class="active"><a href="#" class="ec-opt-sz" data-old="$20.00"
                                            data-new="$15.00" data-tooltip="Small">S</a></li>
                                    <li><a href="#" class="ec-opt-sz" data-old="$22.00" data-new="$17.00"
                                            data-tooltip="Medium">M</a></li>
                                    <li><a href="#" class="ec-opt-sz" data-old="$25.00" data-new="$20.00"
                                            data-tooltip="Large">X</a></li>
                                    <li><a href="#" class="ec-opt-sz" data-old="$27.00" data-new="$22.00"
                                            data-tooltip="Extra Large">XL</a></li>
                                </ul>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            
            <div class="col-sm-12 shop-all-btn"><a href="{% url 'shopall' %}">Shop All Collection</a>
            </div>
        </div>
    </div>
</section>
<!-- New Product end -->
    
<script>
    $('.plus-cart').click(function(){
        var id=$(this).attr("pid").toString();
        var eml=this.parentNode.children[2]
        console.log("pid=",id)
        $.ajax({
            type :"GET",
            url:"{% url 'plus_cart' %}",
            data:{
                prod_id:id
            },
             
            success:function(data){
            console.log("data=",data);
            eml.innerText=data.quantity
            document.getElementById("amount").innerText=data.amount
            document.getElementById("totalamount").innerText=data.totalamount
            // document.getElementById("amount2").innerText = data.amount2;

            }
        })
    })
    
    
    $('.minus-cart').click(function(){
        var id=$(this).attr("pid").toString();
        var eml=this.parentNode.children[2]
        
        $.ajax({
            type :"GET",
            url:"{% url 'minus_cart' %}",
            data:{
                prod_id:id
            },
            success:function(data){
                
                eml.innerText=data.quantity
                document.getElementById("amount").innerText=data.amount
                document.getElementById("totalamount").innerText=data.totalamount
                // document.getElementById("amount2").innerText = data.amount2;

            }
        })
    })
    
    // $(document).ready(function() {
    // // Check if the cart is empty initially
    // checkCartEmpty();

    // // Function to check if the cart is empty
    // function checkCartEmpty() {
    //     // Get the container element
    //     var cartContainer = $('#cart-container');

    //     // Check if it has any child elements (cart items)
    //     if (cartContainer.children().length === 0) {
    //         // If cart is empty, show the "Cart is Empty" message
    //         $('#empty-cart-message').show();
    //     } else {
    //         // If cart is not empty, hide the message
    //         $('#empty-cart-message').hide();
    //     }
    // }


    // $('.remove-cart').click(function(){
    //     var id = $(this).attr("pid").toString();
    //     var eml = this;

    //     $.ajax({
    //         type: "GET",
    //         url: "{% url 'remove_cart' %}",
    //         data: {
    //             prod_id: id
    //         },
    //         success: function(data){
    //             // Update the UI
    //             document.getElementById("amount").innerText = data.amount;
    //             document.getElementById("totalamount").innerText = data.totalamount;
    //             // document.getElementById("amount2").innerText = data.amount2;


               
    //             var parentRow = $(eml).closest("tr");
    //             $(parentRow).remove();

                
    //             checkCartEmpty();
    //         }
    //     });
    // });

    // });

//     $('.remove-cart').click(function(){
//     var id=$(this).attr("pid").toString();
//     var eml=this
  
//     $.ajax({
//         type :"GET",
//         url:"/removecart",
//         data:{
//             prod_id:id
//         },
//         success:function(data){
           
          
//             document.getElementById("amount").innerText=data.amount
//             document.getElementById("totalamount").innerText=data.totalamount
//             eml.parentNode.parentNode.parentNode.parentNode.remove()
//         }
//     })
// })

    $('.remove-cart').click(function(){
        var id = $(this).attr("pid").toString();
        var eml = $(this); // Use jQuery object for consistency

        $.ajax({
            type: "GET",
            url: "{% url 'remove_cart' %}",
            data: {
                prod_id: id
            },
            success: function(data){
                // Update the UI
                $("#amount").text(data.amount);
                $("#totalamount").text(data.totalamount);

                // Remove the item from the cart
                var parentRow = eml.closest(".row");
                parentRow.remove();

                // Check if cart is empty
                // checkCartEmpty();
            },
            error: function(xhr, textStatus, errorThrown) {
                console.error('Error:', errorThrown);
                // Handle error here, e.g., show an error message to the user
            }
        });
    });






    </script>
 

{% endblock main-content %}