{% extends 'base2.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_head %}

<link rel="canonical" href="https://razid.in/">

 <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "mainEntity": {
    "@type": "CreativeWork",
    "name": "Keyphrases",
    "about": [
      {
        "@type": "Thing",
        "name": "Keyword 1"
      },
      {
        "@type": "Thing",
        "name": "Keyword 2"
      },
      {
        "@type": "Thing",
        "name": "Keyword 3"
      }
      // Add more keyphrases as needed
    ]
  }
}
</script>




<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "Online Printing Services in India | RAZID Solutions",
    "url": "https://razid.in/",
    "logo": "https://razid.in/assets/images/logo/logo.png",
    "sameAs": [
      "https://www.facebook.com/Razidsolutions/",
      "https://twitter.com/RazidSolutions",
      "https://www.youtube.com/channel/UC5kLK0tYkJnZWq6AWyqD3Ow/",
	  "https://www.instagram.com/razidsolutions/",
	  "https://in.pinterest.com/RazidSolutions/"
    ],
    "contactPoint": [
      {
        "@type": "ContactPoint",
        "telephone": "+91-9447-574-488",
        "contactType": "Customer Service",
        "contactOption": "TollFree",
        "areaServed": "IN"
      },
      {
        "@type": "ContactPoint",
        "telephone": "+91-9447-574-488",
        "contactType": "Technical Support",
        "contactOption": "TollFree",
        "areaServed": "IN"
      },
      {
        "@type": "ContactPoint",
        "telephone": "+91-9447-574-488",
        "contactType": "Sales",
        "contactOption": "TollFree",
        "areaServed": "IN"
      }
    ]
  }
  </script>


 

    
    
    

    <!-- site Favicon -->
    <link rel="icon" href="{% static 'images/favicon/favicon.png' %}" sizes="32x32" />
    <link rel="apple-touch-icon" href="{% static 'images/favicon/favicon.png' %}" />
    <meta name="msapplication-TileImage" content="{% static 'images/favicon/favicon.png' %}" />

    <!-- css Icon Font -->
    <link rel="stylesheet" href="{% static 'css/vendor/ecicons.min.css' %}" />

    <!-- css All Plugins Files -->
    <link rel="stylesheet" href="{% static 'css/plugins/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/countdownTimer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/slick.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/bootstrap.css' %}" />

    <!-- Main Style -->
    <link rel="stylesheet" href="{% static 'css/demo1.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    
    
    
      <link rel="stylesheet" href="{% static 'css/plugins/owl.carousel.min.css' %}" />
   <link rel="stylesheet" href="{% static 'css/plugins/owl.theme.default.min.css' %}" />

    <!-- Background css -->


{% endblock %}



    
{% block main-content %}


<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Register</h2>
                    <h2 class="ec-title">Register</h2>
                    <p class="sub-title mb-3">Best place to buy and sell digital products</p>
                </div>
            </div>
            <div class="ec-register-wrapper">
                <div class="ec-register-container">
                    <div class="ec-register-form">
                        <form action="#" method="post">
                            <span class="ec-register-wrap ec-register-half">
                                <label>First Name*</label>
                                <input type="text" name="firstname" placeholder="Enter your first name" required />
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Last Name*</label>
                                <input type="text" name="lastname" placeholder="Enter your last name" required />
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Email*</label>
                                <input type="email" name="email" placeholder="Enter your email add..." required />
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Phone Number*</label>
                                <input type="text" name="phonenumber" placeholder="Enter your phone number"
                                    required />
                            </span>
                            <span class="ec-register-wrap">
                                <label>Address</label>
                                <input type="text" name="address" placeholder="Address Line 1" />
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>City *</label>
                                <span class="ec-rg-select-inner">
                                    <select name="ec_select_city" id="ec-select-city" class="ec-register-select">
                                        <option selected disabled>City</option>
                                        <option value="1">City 1</option>
                                        <option value="2">City 2</option>
                                        <option value="3">City 3</option>
                                        <option value="4">City 4</option>
                                        <option value="5">City 5</option>
                                    </select>
                                </span>
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Post Code</label>
                                <input type="text" name="postalcode" placeholder="Post Code" />
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Country *</label>
                                <span class="ec-rg-select-inner">
                                    <select name="ec_select_country" id="ec-select-country"
                                        class="ec-register-select">
                                        <option selected disabled>Country</option>
                                        <option value="1">Country 1</option>
                                        <option value="2">Country 2</option>
                                        <option value="3">Country 3</option>
                                        <option value="4">Country 4</option>
                                        <option value="5">Country 5</option>
                                    </select>
                                </span>
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Region State</label>
                                <span class="ec-rg-select-inner">
                                    <select name="ec_select_state" id="ec-select-state" class="ec-register-select">
                                        <option selected disabled>Region/State</option>
                                        <option value="1">Region/State 1</option>
                                        <option value="2">Region/State 2</option>
                                        <option value="3">Region/State 3</option>
                                        <option value="4">Region/State 4</option>
                                        <option value="5">Region/State 5</option>
                                    </select>
                                </span>
                            </span>
                            <span class="ec-register-wrap ec-recaptcha">
                                <span class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S"
                                    data-callback="verifyRecaptchaCallback"
                                    data-expired-callback="expiredRecaptchaCallback"></span>
                                <input class="form-control d-none" data-recaptcha="true" required
                                    data-error="Please complete the Captcha">
                                <span class="help-block with-errors"></span>
                            </span>
                            <span class="ec-register-wrap ec-register-btn">
                                <button class="btn btn-primary" type="submit">Register</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Register -->
    


{% endblock main-content %}