{% extends 'base2.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_head %}

<link rel="canonical" href="https://razid.in/">

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "mainEntity": {
    "@type": "CreativeWork",
    "name": "Keyphrases",
    "about": [
      {
        "@type": "Thing",
        "name": "Keyword 1"
      },
      {
        "@type": "Thing",
        "name": "Keyword 2"
      },
      {
        "@type": "Thing",
        "name": "Keyword 3"
      }
      // Add more keyphrases as needed
    ]
  }
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LocalBusiness",
  "name": "Online Printing Services in India | RAZID Solutions",
  "url": "https://razid.in/",
  "logo": "https://razid.in/assets/images/logo/logo.png",
  "sameAs": [
    "https://www.facebook.com/Razidsolutions/",
    "https://twitter.com/RazidSolutions",
    "https://www.youtube.com/channel/UC5kLK0tYkJnZWq6AWyqD3Ow/",
    "https://www.instagram.com/razidsolutions/",
    "https://in.pinterest.com/RazidSolutions/"
  ],
  "contactPoint": [
    {
      "@type": "ContactPoint",
      "telephone": "+91-9447-574-488",
      "contactType": "Customer Service",
      "contactOption": "TollFree",
      "areaServed": "IN"
    },
    {
      "@type": "ContactPoint",
      "telephone": "+91-9447-574-488",
      "contactType": "Technical Support",
      "contactOption": "TollFree",
      "areaServed": "IN"
    },
    {
      "@type": "ContactPoint",
      "telephone": "+91-9447-574-488",
      "contactType": "Sales",
      "contactOption": "TollFree",
      "areaServed": "IN"
    }
  ]
}
</script>

<!-- site Favicon -->
<link rel="icon" href="{% static 'images/favicon/favicon.png' %}" sizes="32x32" />
<link rel="apple-touch-icon" href="{% static 'images/favicon/favicon.png' %}" />
<meta name="msapplication-TileImage" content="{% static 'images/favicon/favicon.png' %}" />

<!-- css Icon Font -->
<link rel="stylesheet" href="{% static 'css/vendor/ecicons.min.css' %}" />

<!-- css All Plugins Files -->
<link rel="stylesheet" href="{% static 'css/plugins/animate.css' %}" />
<link rel="stylesheet" href="{% static 'css/plugins/swiper-bundle.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/plugins/jquery-ui.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/plugins/countdownTimer.css' %}" />
<link rel="stylesheet" href="{% static 'css/plugins/slick.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/plugins/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'css/demo1.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
<link rel="stylesheet" href="{% static 'css/plugins/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/plugins/owl.theme.default.min.css' %}" />

<!-- Background css -->
{% endblock %}

{% block main-content %}




  <!-- Ec breadcrumb start -->
  <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">Shop</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="ec-breadcrumb-item active">Shop</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->



<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">Send OTP</h1>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <label for="email" class="form-label">Enter your email address:</label>
        <input type="email" id="email" name="email" class="form-control" required>
        <button type="submit" class="btn btn-primary mt-3">Send OTP</button>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}
