{% extends 'base2.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Home{% endblock %}
{% block extra_head %}

<link rel="canonical" href="https://razid.in/">

 <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "mainEntity": {
    "@type": "CreativeWork",
    "name": "Keyphrases",
    "about": [
      {
        "@type": "Thing",
        "name": "Keyword 1"
      },
      {
        "@type": "Thing",
        "name": "Keyword 2"
      },
      {
        "@type": "Thing",
        "name": "Keyword 3"
      }
      // Add more keyphrases as needed
    ]
  }
}
</script>




<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "Online Printing Services in India | RAZID Solutions",
    "url": "https://razid.in/",
    "logo": "https://razid.in/assets/images/logo/logo.png",
    "sameAs": [
      "https://www.facebook.com/Razidsolutions/",
      "https://twitter.com/RazidSolutions",
      "https://www.youtube.com/channel/UC5kLK0tYkJnZWq6AWyqD3Ow/",
	  "https://www.instagram.com/razidsolutions/",
	  "https://in.pinterest.com/RazidSolutions/"
    ],
    "contactPoint": [
      {
        "@type": "ContactPoint",
        "telephone": "+91-9447-574-488",
        "contactType": "Customer Service",
        "contactOption": "TollFree",
        "areaServed": "IN"
      },
      {
        "@type": "ContactPoint",
        "telephone": "+91-9447-574-488",
        "contactType": "Technical Support",
        "contactOption": "TollFree",
        "areaServed": "IN"
      },
      {
        "@type": "ContactPoint",
        "telephone": "+91-9447-574-488",
        "contactType": "Sales",
        "contactOption": "TollFree",
        "areaServed": "IN"
      }
    ]
  }
  </script>


 

    
    
    

    <!-- site Favicon -->
    <link rel="icon" href="{% static 'images/favicon/favicon.png' %}" sizes="32x32" />
    <link rel="apple-touch-icon" href="{% static 'images/favicon/favicon.png' %}" />
    <meta name="msapplication-TileImage" content="{% static 'images/favicon/favicon.png' %}" />

    <!-- css Icon Font -->
    <link rel="stylesheet" href="{% static 'css/vendor/ecicons.min.css' %}" />

    <!-- css All Plugins Files -->
    <link rel="stylesheet" href="{% static 'css/plugins/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/countdownTimer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/slick.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/bootstrap.css' %}" />

    <!-- Main Style -->
    <link rel="stylesheet" href="{% static 'css/demo1.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    
    
    
      <link rel="stylesheet" href="{% static 'css/plugins/owl.carousel.min.css' %}" />
   <link rel="stylesheet" href="{% static 'css/plugins/owl.theme.default.min.css' %}" />

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- Background css -->


{% endblock %}



    
{% block main-content %}



    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="row ec_breadcrumb_inner">
                      <div class="col-md-6 col-sm-12">
                          <h2 class="ec-breadcrumb-title">Shop</h2>
                      </div>
                      <div class="col-md-6 col-sm-12">
                          <!-- ec-breadcrumb-list start -->
                          <ul class="ec-breadcrumb-list">
                              <li class="ec-breadcrumb-item"><a href="{% url 'home_with_encrypted_name' encrypted_name=encoded_encrypted_name %}">Home</a></li>
                              <li class="ec-breadcrumb-item active">Shop</li>
                          </ul>
                          <!-- ec-breadcrumb-list end -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Ec breadcrumb end -->
{% comment %} 
  <!-- Ec Shop page -->
  <section class="ec-page-content section-space-p">
      <div class="container">
          <div class="row">
              <div class="ec-shop-rightside col-lg-9 order-lg-last col-md-12 order-md-first margin-b-30">
                  <!-- Shop Top Start -->
                  <div class="ec-pro-list-top d-flex">
                      <div class="col-md-6 ec-grid-list">
                          <div class="ec-gl-btn">
                              <button class="btn btn-grid active"><i class="fi-rr-apps"></i></button>
                              <button class="btn btn-list"><i class="fi-rr-list"></i></button>
                          </div>
                      </div>
                      <div class="col-md-6 ec-sort-select">
                          <span class="sort-by">Sort by</span>
                          <div class="ec-select-inner">
                              <select name="ec-select" id="ec-select">
                                  <option selected disabled>Position</option>
                                  <option value="1">Relevance</option>
                                  <option value="2">Name, A to Z</option>
                                  <option value="3">Name, Z to A</option>
                                  <option value="4">Price, low to high</option>
                                  <option value="5">Price, high to low</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <!-- Shop Top End -->

 {% endcomment %}


                <div class="container mt-8">
                    <!-- Shop content Start -->
                    <div class="shop-pro-content">
                        <div class="shop-pro-inner">
                            <div class="row">
                                {% for pro in products %}
                               <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                    <div class="ec-product-inner">
                                        <div class="ec-pro-image-outer">
                                            <div class="ec-pro-image">
                                                <a href="{% url 'singleproduct' pro.encrypted_pro_id %}" class="image">
                                                    <img class="main-image"
                                                        src="{{pro.product_image.url}}" alt="Product" style="width: 450px; height: 410px;"/>
                                                    <img class="hover-image"
                                                        src="{{pro.product_image.url}}" alt="Product" style="width: 450px; height: 410px;"/>
                                                </a>
                                                <!-- <span class="percentage">20%</span> -->
                                                <!-- <a href="#" class="quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#ec_quickview_modal"><i class="fi-rr-eye"></i></a> -->
                                                <div class="ec-pro-actions">
                                                    <!-- <a href="compare.html" class="ec-btn-group compare"
                                                        title="Compare"><i class="fi fi-rr-arrows-repeat"></i></a> -->
                                                        <button title="Add To Cart" class="add-to-cart add-to-cart-shopall" data-product-id="{{ pro.id }}">
                                                          <i class="fi-rr-shopping-basket"></i> Add To Cart
                                                      </button>
                                                      <a class="ec-btn-group wishlist wishlist-shopall" title="Wishlist" data-product-id="{{ pro.id }}">
                                                          <i class="fi-rr-heart"></i>
                                                      </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ec-pro-content">
                                            <h5 class="ec-pro-title"><a href="{% url 'singleproduct' pro.encrypted_pro_id %}">{{pro.title}}</a></h5>
                                            <div class="ec-pro-rating">
                                                
                                                    {% if pro.avg_rating == 0 %}
                                                    <i class="ecicon eci-star-o"></i>
                                                    <i class="ecicon eci-star-o"></i>
                                                    <i class="ecicon eci-star-o"></i>
                                                    <i class="ecicon eci-star-o"></i>
                                                    <i class="ecicon eci-star-o"></i>
                                                    
                                                    {% elif pro.avg_rating == 1 %}
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star-o"></i>
                                                    <i class="ecicon eci-star-o"></i>
                                                    <i class="ecicon eci-star-o"></i>
                                                    <i class="ecicon eci-star-o"></i>
                                                 {% elif pro.avg_rating == 2 %}                                                            
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star-o"></i>
                                                    <i class="ecicon eci-star-o"></i>
                                                    <i class="ecicon eci-star-o"></i>


                                                 {% elif pro.avg_rating == 3 %}
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>

                                                 {% elif pro.avg_rating == 4 %}
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>

                                                 {% elif pro.avg_rating == 5 %}
                                                 <i class="ecicon eci-star fill"></i>
                                                 <i class="ecicon eci-star fill"></i>
                                                 <i class="ecicon eci-star fill"></i>
                                                 <i class="ecicon eci-star fill"></i>
                                                 <i class="ecicon eci-star fill"></i>
                                                 
                                                 {% endif %}
                                                
                                            </div>
                                            <div class="ec-pro-list-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dutmmy text ever since the 1500s, when an unknown printer took a galley.</div>
                                            <span class="ec-price">
                                                <!-- <span class="old-price">$27.00</span> -->
                                                <span class="new-price">Rs.{{pro.price}}</span>
                                            </span>
                                            
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                              
                            </div>
                        </div>
                        <!-- Ec Pagination Start -->
                        <!-- <div class="ec-pro-pagination">
                            <span>Showing 1-12 of 21 item(s)</span>
                            <ul class="ec-pro-pagination-inner">
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a class="next" href="#">Next <i class="ecicon eci-angle-right"></i></a></li>
                            </ul>
                        </div> -->
                        <div class="ec-pro-pagination">
                            <span>Showing {{ products.start_index }}-{{ products.end_index }} of {{ products.paginator.count }} item(s)</span>
                            <ul class="ec-pro-pagination-inner my-4">
                                {% if products.has_previous %}
                                    {% comment %} <li><a class="active" href="?page=1">First</a></li> {% endcomment %}
                                    <li><a href="?page={{ products.previous_page_number }}">Previous</a></li>
                                {% endif %}
                                {% for num in products.paginator.page_range %}
                                    {% if products.number == num %}
                                        <li><span class="active">{{ num }}</span></li>
                                    {% else %}
                                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if products.has_next %}
                                    <li><a class="ecicon eci-angle-right" href="?page={{ products.next_page_number }}">Next</a></li>
                                    
                                    {% comment %} <li><a href="?page={{ products.paginator.num_pages }}">Last</a></li> {% endcomment %}
                                {% endif %}
                            </ul>
                        </div>
                        


                        <!-- Ec Pagination End -->
                    </div>
                    <!--Shop content End -->
                </div>
         
            </div>
        </div>
    </section>
    <!-- End Shop page -->


<script>
  $(document).ready(function() {
    // Function to get CSRF token from cookies
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    // Add click event listener to "Add To Cart" buttons
    $('.add-to-cart-shopall').on('click', function() {
        const productId = $(this).data('product-id');
        const quantity = 1;

        console.log("Product ID:", productId); // Debug: Check if product ID is being retrieved

        $.ajax({
            url: "{% url 'add_to_cart_shopall' %}",
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken // Include CSRF token
            },
            data: {
                'product_id': productId,
                'quantity': quantity
            },
            success: function(response) {
                alert('Product added to cart successfully!');
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText); // Debug: Log the response text
                alert('Failed to add product to cart');
            }
        });
    });

    // Add click event listener to "Add To Wishlist" buttons
    $('.wishlist-shopall').on('click', function() {
        const productId = $(this).data('product-id');

        console.log("Product ID:", productId); // Debug: Check if product ID is being retrieved

        $.ajax({
            url: "{% url 'add_to_wishlist_shopall' %}",
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken // Include CSRF token
            },
            data: {
                'product_id': productId,
            },
            success: function(response) {
                alert('Product added to wishlist successfully!');
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText); // Debug: Log the response text
                alert('Failed to add product to wishlist');
            }
        });
    });
});

    </script>


{% endblock main-content %}