{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_head %}


<!-- GOOGLE FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet"> 

<link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />

<!-- PLUGINS CSS STYLE -->
<link href="{% static 'plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet">
<link href="{% static 'plugins/simplebar/simplebar.css' %}" rel="stylesheet" />

<!-- ekka CSS -->
<link id="ekka-css" href="{% static 'css/ekka.css' %}" rel="stylesheet" />

<!-- FAVICON -->
<link href="{% static 'img/favicon.png' %}" rel="shortcut icon" />

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


<!-- Bootstrap JS and Popper.js (required for Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
    /* Custom CSS styles */
    .container {
        max-width: 600px;
        margin: 0 auto;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    
    
    /* Add any additional custom styles as needed */
    </style>
    {% endblock %}
    
    {% block main-content %}
    <div class="container mt-5">
        <h2 class="mb-4">Upload Images</h2>
    
        <!-- Image Upload Form -->
        <form action="{% url 'childslider' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- Name Input -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control-text" id="name" name="name"  required>
            </div>
            
            <!-- File Input -->
            <div class="form-group">
                <label for="image">Choose Image</label>
                <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
            </div>
    
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
    {% endblock %}