	
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_head %}

<!-- GOOGLE FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet"> 

<link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />

<!-- PLUGINS CSS STYLE -->
<link href="{% static 'plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet">
<link href="{% static 'plugins/simplebar/simplebar.css' %}" rel="stylesheet" />

<!-- ekka CSS -->
<link id="ekka-css" href="{% static 'css/ekka.css' %}" rel="stylesheet" />

<!-- FAVICON -->
<link href="{% static 'img/favicon.png' %}" rel="shortcut icon" />
  
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <!-- custom js-->
  <!-- <script src="{% static 'js/crop-image.js' %}" defer></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

  
  <style>
    .not-visible {
        display: none;
    }
  </style>
{% endblock %}

{% block main-content %}

    
    <!-- CONTENT WRAPPER -->

			<div class="ec-content-wrapper">
				<div class="content">
					<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
						<div>
							<h1>Add Product</h1>
							<p class="breadcrumbs"><span><a href="index.html">Home</a></span>
								<span><i class="mdi mdi-chevron-right"></i></span>Product</p>
						</div>
						<div>
							<a href="product-list.html" class="btn btn-primary"> View All
							</a>
						</div>
						
						
						 
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card card-default">
								<div class="card-header card-header-border-bottom">
									<h2>Add Product</h2>
								</div>
								<!-- <div class="container">
								
									<div id="alert-box"></div>
									<div id="image-box" class="mb-3"></div>
									<form action="" id="image-form">
									  {% csrf_token %}
									  {{form.as_p}}
									</form>
									<button class="btn btn-primary mt-3 not-visible" id="confirm-btn">confirm</button>
								 
								</div> -->
								{% comment %} <div class="container mt-3">
									<div id="alert-box"></div>
									<div id="image-box" class="mb-3"></div>
									<form action="#" id="image-form">
									  {% csrf_token %}
									  {{image_upload_form.as_p}}
									  <button class="btn btn-primary mt-3 not-visible" id="confirm-btn">confirm</button>
									</form>
								</div> {% endcomment %}
								<form method="POST" enctype="multipart/form-data" action="#" id="main-form">
									{% csrf_token %}
									<div class="card-body">
										<div class="row ec-vendor-uploads">
											<div class="col-lg-4">
												<div class="ec-vendor-img-upload">
													<div class="ec-vendor-main-img">
														<div class="avatar-upload">



															 <div class="avatar-edit">
																<input type='file' id="imageUpload" class="ec-image-upload" name="product_image" accept=".png, .jpg, .jpeg" />
																<label for="imageUpload">
																	<img src="{% static 'images/icons/edit.svg' %}" class="svg_img header_svg" alt="edit" />
																</label>
															</div> 
															<div class="avatar-preview ec-preview">
																<div class="imagePreview ec-div-preview">
																	<img id="cropperImage" class="ec-image-preview" src="{% static 'images/products/vender-upload-preview.jpg' %}" alt="edit" />
																</div>
															</div> 
														
													</div>


                                                    

 


													
													
													<div class="thumb-upload-set col-md-12">
														<div class="thumb-upload">
															<div class="thumb-edit">
																<input type='file' id="thumbUpload01" name="image1"
																	class="ec-image-upload"
																	accept=".png, .jpg, .jpeg" />
																<label for="imageUpload"><img
																		src="{% static 'images/icons/edit.svg' %}"
																		class="svg_img header_svg" alt="edit" /></label>
															</div>
															<div class="thumb-preview ec-preview">
																<div class="image-thumb-preview">
																	<img class="image-thumb-preview ec-image-preview" 
																		src="{% static 'images/products/vender-upload-thumb-preview.jpg' %}"
																		alt="edit" />
																</div>
															</div>
														</div>
														<div class="thumb-upload">
															<div class="thumb-edit">
																
																<input type='file' id="thumbUpload02" name="image2"
																	class="ec-image-upload"
																	accept=".png, .jpg, .jpeg" />
																<label for="imageUpload"><img
																		src="{% static 'images/icons/edit.svg' %}"
																		class="svg_img header_svg" alt="edit" /></label>
															</div>
															<div class="thumb-preview ec-preview">
																<div class="image-thumb-preview">
																	<img class="image-thumb-preview ec-image-preview" name="image2"
																		src="{% static 'images/products/vender-upload-thumb-preview.jpg' %}"
																		alt="edit" />
																</div>
															</div>
														</div>
														<div class="thumb-upload">
															<div class="thumb-edit">
																<input type='file' id="thumbUpload03" name="image3"
																	class="ec-image-upload"
																	accept=".png, .jpg, .jpeg" />
																<label for="imageUpload"><img
																		src="{% static 'images/icons/edit.svg' %}"
																		class="svg_img header_svg" alt="edit" /></label>
															</div>
															<div class="thumb-preview ec-preview">
																<div class="image-thumb-preview">
																	<img class="image-thumb-preview ec-image-preview" name="image3"
																		src="{% static 'images/products/vender-upload-thumb-preview.jpg' %}"
																		alt="edit" />
																</div>
															</div>
														</div>
														<div class="thumb-upload">
															<div class="thumb-edit">
																<input type='file' id="thumbUpload04" name="image4"
																	class="ec-image-upload"
																	accept=".png, .jpg, .jpeg" />
																<label for="imageUpload"><img
																		src="{% static 'images/icons/edit.svg' %}"
																		class="svg_img header_svg" alt="edit" /></label>
															</div>
															<div class="thumb-preview ec-preview">
																<div class="image-thumb-preview">
																	<img class="image-thumb-preview ec-image-preview" name="image4"
																		src="{% static 'images/products/vender-upload-thumb-preview.jpg' %}"
																		alt="edit" />
																</div>
															</div>
														</div>
														<div class="thumb-upload">
															<div class="thumb-edit">
																<input type='file' id="thumbUpload05" name="image5"
																	class="ec-image-upload"
																	accept=".png, .jpg, .jpeg" />
																<label for="imageUpload"><img
																		src="{% static 'images/icons/edit.svg' %}"
																		class="svg_img header_svg" alt="edit" /></label>
															</div>
															<div class="thumb-preview ec-preview">
																<div class="image-thumb-preview">
																	<img class="image-thumb-preview ec-image-preview" name="image5"
																		src="{% static 'images/products/vender-upload-thumb-preview.jpg' %}"
																		alt="edit" />
																</div>
															</div>
														</div>
														<div class="thumb-upload">
															<div class="thumb-edit">
																<input type='file' id="thumbUpload06" name="image6"
																	class="ec-image-upload"
																	accept=".png, .jpg, .jpeg" />
																<label for="imageUpload"><img
																		src="{% static 'images/icons/edit.svg' %}"
																		class="svg_img header_svg" alt="edit" /></label>
															</div>
															<div class="thumb-preview ec-preview">
																<div class="image-thumb-preview">
																	<img class="image-thumb-preview ec-image-preview" name="image6"
																		src="{% static 'images/products/vender-upload-thumb-preview.jpg' %}"
																		alt="edit" />
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-8">
											<div class="ec-vendor-upload-detail">
												<div class="row g-3">
													<div class="col-md-6">
														<label for="inputEmail4" class="form-label">Product name</label>
														<input type="text" name="product_name" class="form-control slug-title" id="inputEmail4">
													</div>

													<div class="col-md-6">
														<label class="form-label">Select Categories</label>
														<select name="categories" id="Categories" class="form-select">
															{% for category in subcategory %}
															
																<option value="{{category.pk}}">{{category.name}}</option>
																
															
															{% endfor %}
															
														</select>
													</div>
													

													<div class="col-md-12">
														<label for="slug" class="col-12 col-form-label">Slug</label> 
														<div class="col-12">
															<input id="slug" name="slug" class="form-control here set-slug" type="text">
														</div>
													</div>
													


													
													<div class="col-md-12">
														<label class="form-label">Sort Description</label>
														<textarea class="form-control" rows="2" name="description"></textarea>
													</div>


													<div class="col-md-6">
														<label class="form-label">Availability</label>
														<select name="availability" id="Categories" class="form-select">
															{% for stock in stock_availability %}
															
																<option value="{{stock}}">{{stock}}</option>
																

																
															
															{% endfor %}
															
														</select>
													</div>
													<!-- <div class="col-md-4 mb-25">
														<label class="form-label">Colors</label>
														<input type="color" class="form-control form-control-color"
															id="exampleColorInput1" value="#ff6191"
															title="Choose your color">
														<input type="color" class="form-control form-control-color"
															id="exampleColorInput2" value="#33317d"
															title="Choose your color">
														<input type="color" class="form-control form-control-color"
															id="exampleColorInput3" value="#56d4b7"
															title="Choose your color">
														<input type="color" class="form-control form-control-color"
															id="exampleColorInput4" value="#009688"
															title="Choose your color">
													</div> -->


                                                    <div id="productForm" class="col-md-6 mb-5 d-flex">
														<label class="form-label">Colors</label>
													
														<!-- Default color inputs -->
														<input type="color" class="form-control form-control-color" name="color1" value="#ff6191" title="Choose your color">
														<input type="color" class="form-control form-control-color" name="color2" value="#33317d" title="Choose your color">
														<input type="color" class="form-control form-control-color" name="color3" value="#56d4b7" title="Choose your color">
														<input type="color" class="form-control form-control-color" name="color4" value="#009688" title="Choose your color">
													
														<button type="button" id="addColorButton" class="btn btn-secondary">+</button>
														<button type="button" id="removeColorButton" class="btn btn-secondary">-</button>
																											
													</div>

													<!-- <div class="container mt-3"> -->
														<div class="row">
															<div class="col-md-6 mb-25">
																<label for="sizeCheckboxes">Select Sizes:</label>
																<div id="sizeCheckboxes" class="d-flex">
																	<div class="form-check">
																		<input class="form-check-input" type="checkbox" name="size" value="s" id="sizeS">
																		<label class="form-check-label" for="sizeS">S</label>
																	</div>
																	
																	<div class="form-check">
																		<input class="form-check-input" type="checkbox" name="size" value="m" id="sizeM">
																		<label class="form-check-label" for="sizeM">M</label>
																	</div>
																	
																	<div class="form-check">
																		<input class="form-check-input" type="checkbox" name="size" value="l" id="sizeL">
																		<label class="form-check-label" for="sizeL">L</label>
																	</div>
																	
																	<div class="form-check">
																		<input class="form-check-input" type="checkbox" name="size" value="xl" id="sizeXL">
																		<label class="form-check-label" for="sizeXL">XL</label>
																	</div>
																	
																	<div class="form-check">
																		<input class="form-check-input" type="checkbox" name="size" value="xxl" id="sizeXXL">
																		<label class="form-check-label" for="sizeXXL">XXL</label>
																	</div>
																	
																	<!-- <div class="form-check">
																		<input class="form-check-input" type="checkbox" name="size" value="mm" id="sizeMM">
																		<label class="form-check-label" for="sizeMM">Select custom size in mm</label>
																	</div> -->
																</div>
															</div>
															<!-- Hidden input field to store selected sizes -->
															<input type="hidden" name="selectedSizes" id="selectedSizes" />
															<div class="col-md-6 mt-3">
																	
																<div id="customSizeField">
																	
																	<label for="customSizeInput">Custom Size:</label>
																	<input type="text" class="form-control" id="customSizeInput" name="customsize">
																</div>
															</div>
														

															<div class="col-md-6">
																<label class="form-label">Price <span>( In USD
																		)</span></label>
																<input type="text" class="form-control" id="price1" name="price">
															</div>
															<div class="col-md-6">
																<label class="form-label">Quantity</label>
																<input type="number" class="form-control" id="quantity1" name="quantity">
															</div>


														</div>
														
													<!-- </div> -->
													

															
													
													
													<div class="col-md-12">
														<label class="form-label">Ful Detail</label>
														<textarea name="fulldetail" class="form-control" rows="4"></textarea>
													</div>
													<div class="col-md-12">
														<label class="form-label">Product Tags <span>( Type and
																make comma to separate tags )</span></label>
														<input type="text" class="form-control" id="group_tag"
															name="group_tag" value="" placeholder=""
															data-role="tagsinput" />
													
														</div>

														<div class="col-md-12">
															<label for="admin_choice">Does customer need to upload picture here?</label>
															<select id="admin_choice" name="admin_choice">
																<option value="yes">Yes</option>
																<option value="no">No</option>
															</select>
														</div>


													<div class="col-md-12">
														<button type="submit" class="btn btn-primary" id="confirm-btn" >Submit</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% comment %} <input type="hidden" id="croppedImageData" name="cropped_image_data" /> {% endcomment %}
							
							   </form>
							</div>
						</div>
					</div>
				</div> <!-- End Content -->
			</div> <!-- End Content Wrapper -->

<!-- 
			
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('input[type="color"]').change(function () {
            var colorName = $(this).attr('name');
            var colorValue = $(this).val();

            $('#productForm').append('<input type="hidden" name="' + colorName + '" value="' + colorValue + '">');
        });
    });
</script>
<script>

        // Function to handle adding a new color input
        function addColorInput() {
            var newColorInput = document.createElement("input");
            newColorInput.type = "color";
            newColorInput.className = "form-control form-control-color";
            newColorInput.name = "additionalColor";
            newColorInput.title = "Choose your color";

            // Append the new color input to the productForm div
            $('#productForm').append(newColorInput);
        }

        // Function to handle removing the last added color input
        function removeColorInput() {
            var colorInputs = $('#productForm').find('input[type="color"]');

            // Ensure there is at least one default color input
            if (colorInputs.length > 4) {
                // Remove the last added color input
                colorInputs.last().remove();
            }
        }

        // Attach click events to the plus and minus buttons
        $('#addColorButton').click(function () {
            addColorInput();
        });

        $('#removeColorButton').click(function () {
            removeColorInput();
        });
    
</script> -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('input[type="color"]').change(function () {
            var colorName = $(this).attr('name');
            var colorValue = $(this).val();

            // Remove any existing hidden input with the same name
            // $('#productForm').find('input[name="' + colorName + '"]')

            // Append a new hidden input with the updated color value
            $('#productForm').append('<input type="hidden" name="' + colorName + '" value="' + colorValue + '">');
        });

        // Function to handle adding a new color input
        function addColorInput() {
            var newColorInput = document.createElement("input");
            newColorInput.type = "color";
            newColorInput.className = "form-control form-control-color";
            newColorInput.name = "additionalColor";
            newColorInput.title = "Choose your color";

            // Append the new color input to the productForm div
            $('#productForm').append(newColorInput);
            
            // Add a corresponding hidden input for the new color
            $('#productForm').append('<input type="hidden" name="' + newColorInput.name + '" value="' + newColorInput.value + '">');
        }

        // Function to handle removing the last added color input
        function removeColorInput() {
            var colorInputs = $('#productForm').find('input[type="color"]');

            // Ensure there is at least one default color input
            if (colorInputs.length > 4) {
                // Remove the last added color input
                colorInputs.last().remove();
            }
        }

        // Attach click events to the plus and minus buttons
        $('#addColorButton').click(function () {
            addColorInput();
        });

        $('#removeColorButton').click(function () {
            removeColorInput();
        });
    });
</script>
<!-- <script>
    function updateCustomSizeField() {
      var sizeCheckboxes = document.getElementsByName('size');
      var customSizeField = document.getElementById('customSizeField');
      var customSizeInput = document.getElementById('customSizeInput');
      var selectedSizes = [];

      sizeCheckboxes.forEach(function(checkbox) {
        if (checkbox.checked) {
          selectedSizes.push(checkbox.value);
        }
      });

      if (selectedSizes.includes('mm')) {
        customSizeField.style.display = 'block';
		sizeCheckboxes.style.display = 'none';
        customSizeInput.value = '';
      } else {
        customSizeField.style.display = 'none';
      }
    }
  </script> -->

  <script>
	document.addEventListener('DOMContentLoaded', function () {
	  var sizeCheckboxes = document.getElementsByName('size');
	  var customSizeField = document.getElementById('customSizeField');
	  var customSizeInput = document.getElementById('customSizeInput');
  
	  sizeCheckboxes.forEach(function (checkbox) {
		checkbox.addEventListener('change', updateCustomSizeField);
	  });
  
	  function updateCustomSizeField() {
		var selectedSizes = [];
  
		sizeCheckboxes.forEach(function (checkbox) {
		  if (checkbox.checked) {
			selectedSizes.push(checkbox.value);
		  }
		});
  
		if (selectedSizes.includes('mm')) {
		  customSizeField.style.display = 'block';
  
		  // Hide other checkboxes
		  sizeCheckboxes.forEach(function (checkbox) {
			checkbox.style.display = 'none';
		  });
  
		  customSizeInput.value = '';
		} else {
		  customSizeField.style.display = 'none';
  
		  // Show other checkboxes
		  sizeCheckboxes.forEach(function (checkbox) {
			checkbox.style.display = 'block';
		  });
		}
	  }
	});
  </script>

  <script>
  document.addEventListener('DOMContentLoaded', function () {
    var image = document.getElementById('cropperImage');
    var cropper = new Cropper(image, {
        aspectRatio: 16 / 9,
        // Other options...
    });
});
</script>
{% endblock main-content %}